<% provide(:title, t(".title")) %>
<main role="main">
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center
    bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-5 font-weight-normal"><%= t(".brand") %></h1>
      <p class="lead font-weight-normal"></p>
      <%= link_to t(".signup"), signup_path, class: "btn btn-primary"%>
    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
  </div>
  <div class="container">
    <div class="row offers_items">
      <!-- Offers Item -->
      <div class="col-lg-6 offers_col">
        <div class="offers_item">
          <div class="row">
            <div class="col-lg-6">
              <div class="offers_image_container">
                <div class="offers_image_background" style=""></div>
                <div class="offer_name"><a href="#"><%= t(".name") %></a></div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="offers_content">
                <div class="offers_price"><%= t(".price") %>
                  <span><%= t(".days") %></span>
                </div>
                <div class="rating_r rating_r_4 offers_rating">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <p class="offers_text"><%= t(".description") %></p>
                <div class="offers_icons">
                  <!-- vihicle -->
                  <ul class="offers_icons_list">
                    <li class="offers_icons_item"><img src="" alt=""></li>
                    <li class="offers_icons_item"><img src="" alt=""></li>
                    <li class="offers_icons_item"><img src="" alt=""></li>
                    <li class="offers_icons_item"><img src="" alt=""></li>
                  </ul>
                </div>
                <div class="offers_link">
                  <a href=""><%= t(".readmore") %></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
