<% provide(:title, t(".title")) %>
<section class="jumbotron text-center home-bg">
  <h1><%= t(".brand") %></h1>
  <p>
    <%= link_to "Sign up", new_user_registration_path,
      class: "btn btn-primary my-2" %>
    <%= link_to t(".signin"), sign_in_path, class: "btn btn-secondary my-2" %>
  </p>
</section>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <%= render partial: "static_pages/tour", collection: @tours %>
    </div>
    <div class="d-flex justify-content-center">
      <%= will_paginate @tours %>
    </div>
  </div>
</div>
