<div class="card-body">
  <div class="row">
    <div class="col-md-2">
      <%= image_tag check_none_image(comment.user),
        size: Settings.app.user.avatar_size_review %>
      <p class="text-secondary">
        <%= t(".ago", time: time_ago_in_words(comment.created_at)) %>
      </p>
    </div>
    <div class="col-md-10">
      <p>
        <a class="float-left" href="">
          <strong><%= comment.user.full_name %></strong>
        </a>
      </p>
      <div class="clearfix"></div>
      <p class= "text-justify"><%= comment.content %></p>
      <ul>
        <%= render partial: "comments/reply", collection: load_reply_comment(comment.id) %>
        <%= render "comments/reply_form", comment: comment %>
      </ul>
    </div>
  </div>
</div>
