<tr>
  <td></td>
  <td><%= tour.title %></td>
  <td><%= l tour.tour_start, format: :long %></td>
  <td><%= l tour.tour_finish, format: :long %></td>
  <td><%= tour.location_start.name %> - <%= tour.location_end.name %></td>
  <td><%= number_to_currency tour.price %></td>
  <td id="tour_status-<%= tour.id %>">
    <%= is_status_close? tour %>
  </td>
  <td>
    <%= link_to t(".edit"), edit_admin_tour_path(tour) %> - 
    <%= link_to t(".delete"), admin_tour_path(tour), method: :delete,
      data: { confirm: t(".you_sure") } %>
  </td>
</tr>
