<div class="admin_layout">
  <% provide(:title, t(".title")) %>
  <h1 class="text-center"><%= t(".title") %></h1>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= search_form_for @search do |f| %>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-12 p-1">
            <%= f.text_field :title_cont, class: "form-control",
              placeholder: t(".tourname") %>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 p-1">
            <%= f.number_field :price_gteq, class: "form-control",
              placeholder: t(".pricestart") %>
          </div>
          <div class="col-lg-1 col-md-1 col-sm-12 p-1">
            <%= f.number_field :price_lteq, class: "form-control",
              placeholder: t(".priceand") %>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 p-1">
          <%= f.number_field :num_people_eq, class: "form-control",
            placeholder: t(".people") %>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 p-1">
            <%= f.collection_select :category_id_eq, Category.all, :id, :name,
            {include_blank: t(".category")}, {class: "form-control"} %>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12" >
            <%= f.submit t(".search"), class: "btn btn-danger wrn-btn" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
  <%= link_to t(".new_tour"), new_admin_tour_path, class: "btn-custom btn btn-primary" %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t ".sno" %></th>
        <th><%= sort_link(@search, :title, t(".title")) %></th>
        <th><%= sort_link(@search, :tour_start, t(".start")) %></th>
        <th><%= sort_link(@search, :tour_finish, t(".finish")) %></th>
        <th><%= t ".travelling" %></th>
        <th><%= sort_link(@search, :price, t(".price")) %></th>
        <th><%= t ".status" %></th>
        <th><%= t ".action" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @tours %>
    </tbody>
  </table>
  <%= will_paginate %>
</div>
