<%= form_for(@user) do |f| %>
	<%= render "shared/error_messages", object: f.object %>

  <div>
    <%= image_tag check_none_image(@user),
      size: Settings.app.user.avatar_size, id: "avatar" %>
    <span class="picture">
      <%= f.file_field :picture, accept: Settings.app.user.image_accept %>
    </span>
  </div>
	<%= f.label :firstname, t(".firstname") %>
	<%= f.text_field :firstname, class: "form-control" %>

	<%= f.label :lastname, t(".lastname") %>
	<%= f.text_field :lastname, class: "form-control" %>

	<%= f.label :address, t(".address") %>
	<%= f.text_field :address, class: "form-control" %>

	<%= f.label :phone, t(".phone") %>
	<%= f.text_field :phone, class: "form-control" %>

	<%= f.label :email, t(".email") %>
	<%= f.email_field :email, class: "form-control" %>

	<%= f.label :password, t(".password") %>
	<%= f.password_field :password, class: "form-control" %>

	<%= f.label :password_confirmation, t(".confirm") %>
	<%= f.password_field :password_confirmation, class: "form-control" %>

	<%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>

<%= javascript_include_tag "user_form" %>
