<div class="col-md-12">
  <div class="card mb-12 box-shadow">
    <div class="card-body">
      <div class="col-md-7 element1">
        <img class="card-img-top img-thumbnail" src="<%= tour.image %>" alt="Card image cap">
      </div>
      <div class="col-md-5 float-right element2">
        <h5><strong><%= tour.title %></strong></h5>
        <h5 class="price"><%= number_to_currency(tour.price) %></h5>
        <h6><%= t ".start" %><%= l tour.tour_start, format: :long %></h6>
        <h6><%= t ".finish" %><%= l tour.tour_finish, format: :long %></h6>
        <p class="card-text text-justify">
          <%= truncate(tour.description, length: Settings.app.tour.length) %>
        </p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <%= link_to t("tours.tour.readmore"), tour, class: "btn btn-sm btn-info" %>
          </div>
          <small class="text-muted" >
            <div class="review-rating float-right" data-score="<%= tour.average_review %>"></div>
          </small>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag("review") %>
