<% provide(:title, t(".title")) %>
<div class="home-bg position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal"><%= t(".brand") %></h1>
    <p class="lead font-weight-normal"><%= t(".introduction") %></p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-1 temp_col"></div>
    <div class="col-lg-11"></div>
    <div class="col-lg-12">
      <!-- Offers Grid -->
      <div class="offers_grid">
        <!-- Offers Item -->
        <div class="offers_item rating_3">
          <div class="row">
            <div class="col-lg-1 temp_col"></div>
            <div class="col-lg-3 col-1680-4">
              <div class="offers_image_container">
                <div class="offers_image_background"
                  style="background-image:url(<%= @tour.image %>)">
                </div>
                <div class="offer_name"><a href=""><%= @tour.title %></a></div>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="offers_content">
                <div class="offers_price"><%= number_to_currency(@tour.price) %>
                  <br><span><%= t ".start" %><%= l @tour.tour_start, format: :long %></span>
                  <br><span><%= t ".finish" %><%= l @tour.tour_finish, format: :long %></span>
                  <br><span><%= t ".people" %><%= @tour.num_people %></span>
                </div>
                <% if @tour.reviews.present? %>
                  <div class="review-rating float-right" data-score="<%= @tour.average_review %>"></div>
                <% end %>
                <p class="offers_text">
                  <%= @tour.description %>
                </p>
                <div class="offers_icons">
                  <ul class="offers_icons_list">
                    <li class="offers_icons_item"><img src="" alt=""></li>
                    <li class="offers_icons_item"><img src="" alt=""></li>
                    <li class="offers_icons_item"><img src="" alt=""></li>
                    <li class="offers_icons_item"><img src="" alt=""></li>
                  </ul>
                </div>
                <%= render "bookings/form" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br>
  <h3><%= t(".review", count: @tour.reviews.count) %></h3>
  <!-- review -->
  <div class="row">
    <div class="col-md-12">
      <% if user_signed_in? %>
        <%= render "reviews/review_form" %>
      <% else %>
        <h3><%= t(".comment") %></h3>
      <% end %>
    </div>
    <div class="col-md-12">
      <div class="card">
        <%= render @reviews %>
      </div>
    </div>
  </div>
  <%= will_paginate @reviews %>
</div>
