<% provide(:title, t(".title")) %>
<div class="home-bg position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal"><%= t(".brand") %></h1>
    <p class="lead font-weight-normal">
        <%= t(".introduction") %>
    </p>
  </div>
</div>
<div class="container">
  <div class="card">
    <div class="row">
      <aside class="col-sm-7 border-right">
        <article class="gallery-wrap">
          <div class="img-big-wrap">
            <div><%= image_tag @tour.image, class: "img-fluid" %></div>
          </div>
        </article>
      </aside>
      <aside class="col-sm-5">
        <article class="card-body p-5">
          <h3 class="title mb-3"><strong><%= @tour.title %></strong></h3>
          <p class="price-detail-wrap">
            <span class="price h3 text-warning">
              <span class="currency"><%= number_to_currency(@tour.price) %></span>
            </span>
          </p>
          <dl class="param param-feature">
            <dd><strong><%= t ".start" %></strong>
              <%= l @tour.tour_start, format: :long %>
            </dd>
          </dl>
          <dl class="param param-feature">
            <dd><strong><%= t ".finish" %></strong>
              <%= l @tour.tour_finish, format: :long %>
            </dd>
          </dl>
          <dl class="param param-feature">
            <dd><strong><%= t ".people" %></strong><%= @tour.num_people %></dd>
          </dl>
          <dl class="item-property">
            <dt><%= t(".description") %></dt>
            <dd>
              <p class="text-justify"><%= @tour.description %></p>
            </dd>
          </dl>
          <%= link_to t(".booking"), new_booking_path(tour_id: @tour.id),
            class: "btn btn-lg btn-primary text-uppercase" %>
        </article>
      </aside>
    </div>
  </div>
  <br>
  <div class="row">
    <h3><%= t(".review", count: @tour.reviews.count) %></h3>
    <div class="col-sm-12">
      <% if user_signed_in? %>
        <%= render "reviews/review_form" %>
      <% else %>
        <h3><%= t(".comment") %></h3>
      <% end %>
    </div>
    <div class="col-sm-12">
        <%= render @reviews %>
        <%= will_paginate @reviews %>
    </div>
  </div>
</div>
