<div class="admin_layout">
  <% provide(:title, t(".title")) %>
  <h1><%= t(".title") %></h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t ".sno" %></th>
        <th><%= t ".name" %></th>
        <th><%= t ".email" %></th>
        <th><%= t ".latest_date_booking" %></th>
        <th><%= t ".total_tour_booked" %></th>
        <th><%= t ".total_money_paid" %></th>
        <th><%= t ".action" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @users %>
    </tbody>
  </table>
  <%= will_paginate %>
</div>
