<%= form_for Review.new do |f| %>
  <%= render "shared/error_messages", object: f.object %>

  <%= f.hidden_field :tour_id, value: @tour.id %>

  <%= f.hidden_field :user_id %>

  <%= f.label :type, t("reviews.form.type_review") %>
  <%= f.select :type_review, Review.type_reviews.keys, {}, {class: "form-control"} %>

  <div id = "rating-form">
    <label><%= t("reviews.form.rating") %></label>
  </div>

  <div class="field">
    <%= f.text_area :content, placeholder: t("reviews.form.input") %>
  </div>
  <%= f.submit t("reviews.form.submit"), class: "btn btn-primary" %>
<% end %>

<%= javascript_include_tag("review") %>
