<div class="card-body">
  <div class="row">
    <div class="col-md-2">
      <%= image_tag check_none_image(review.user),
        size: Settings.app.user.avatar_size_review %>
      <p class="text-secondary">
        <%= t(".ago", time: time_ago_in_words(review.created_at)) %>
      </p>
    </div>
    <div class="col-md-10">
      <p>
        <a class="float-left" href="">
          <strong><%= review.user.full_name %></strong>
        </a>
        <div class="review-rating float-right ml-2" data-score="<%= review.rating %>"></div>
        <div class="float-right"><%= review.type_review %></div>
      </p>
      <div class="clearfix"></div>
      <p class= "text-justify"><%= review.content %></p>
      <p>
        <p class="element1"><%= t(".countlike", count: review.likes.count) %></p>
        <% if user_signed_in? %>
          <% if check_liked review %>
            <%= link_to t(".unlike"), review_like_path(review, check_liked(review)),
              method: :delete, class: "element1 btn text-white btn-info ml-2" %>
          <% else %>
            <%= link_to t(".like"), review_likes_path(review), method: :post,
              class: "float-left btn text-white btn-info ml-2" %>
          <% end %>
          <% if current_user?(review.user) %>
            <%= link_to t(".delete"), review_path(review),
              method: :delete, data: { confirm: t(".sure") }, class: "float-right
              btn text-white btn-danger ml-2" %>
            <%= link_to t(".edit"), edit_tour_review_path(@tour, review),
              class: "float-right btn text-white btn-success ml-2" %>
          <% end %>
          <br><br>
          <div id = "comment_review_<%= review.id %>">
            <%= render load_comment_review review %>
          </div>
          <div id = "comment_form_<%= review.id %>">
            <%= render "comments/form", review: review %>
          <div>
        <% end %>
        <h6 id="count_comment_<%= review.id %>">
          <%= t(".comment", count: review.comments.count) %>
        </h6>
      </p>
    </div>
  </div>
  <hr>
</div>

<%= javascript_include_tag("review") %>
