<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <%= link_to t(".title"), root_path, class: "navbar-brand" %>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <%= link_to t(".home"), root_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to t(".tour"), tours_path, class: "nav-link" %>
    </li>

    <!-- Dropdown -->
    <% if signed_in? %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            <%= t(".user") %>
        </a>
        <div class="dropdown-menu">
            <%= link_to t(".settings"), edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to t(".bookings"), bookings_path, class: "dropdown-item" %>
            <%= link_to t(".log_out"), sign_out_path, class: "dropdown-item" %>
        </div>
      </li>
      <% if current_user.admin? %>
        <% if can? :manage, :all %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
              <%= t(".admin") %>
            </a>
            <div class="dropdown-menu">
              <%= link_to t(".users"), admin_users_path, class: "dropdown-item" %>
              <%= link_to t(".tours"), admin_tours_path, class: "dropdown-item" %>
              <%= link_to t(".categories"), admin_categories_path, class: "dropdown-item" %>
              <%= link_to t(".reviews"), admin_reviews_path, class: "dropdown-item" %>
              <%= link_to t(".travellings"), admin_travellings_path, class: "dropdown-item" %>
              <%= link_to t(".locations"), admin_locations_path, class: "dropdown-item" %>
              <%= link_to t(".bookings"), admin_bookings_path, class: "dropdown-item" %>
            </div>
          </li>
        <% end %>
      <% end %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to t(".signup"), new_user_registration_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to t(".signin"), sign_in_path, class: "nav-link" %>
      </li>
    <% end %>
  </ul>
</nav>
